apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      nodeSelector:
        app: nginx
      tolerations:
        - key: app
          value: nginx
          effect: NoSchedule
      containers:
        - name: nginx
          image: nginx:1.27
          ports:
            - containerPort: 80
