apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    app: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      nodeSelector:
        app: nginx
      tolerations:
        - key: app
          value: nginx
          effect: NoSchedule
      containers:
        - name: nginx
          image: 944249714029.dkr.ecr.ap-northeast-1.amazonaws.com/test_ecr:init
          ports:
            - containerPort: 8080
