kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
  - role: worker
    labels:
      app: nginx
  - role: worker
    labels:
      app: httpbin
  - role: worker
    labels:
      app: echoserver
