apiVersion: apps/v1
kind: Deployment
metadata:
  name: echoserver
  labels:
    app: echoserver
spec:
  replicas: 3
  selector:
    matchLabels:
      app: echoserver
  template:
    metadata:
      labels:
        app: echoserver
    spec:
      nodeSelector:
        app: echoserver
      tolerations:
        - key: app
          value: echoserver
          effect: NoSchedule
      containers:
        - name: echoserver
          image: 944249714029.dkr.ecr.ap-northeast-1.amazonaws.com/test_ecr:init
          ports:
            - containerPort: 8080
