apiVersion: apps/v1
kind: Deployment
metadata:
  name: echoserver
  labels:
    app: echoserver
spec:
  replicas: 2
  selector:
    matchLabels:
      app: echoserver
  template:
    metadata:
      labels:
        app: echoserver
    spec:
      nodeSelector:
        app: echoserver
      tolerations:
        - key: app
          value: echoserver
          effect: NoSchedule
      containers:
        - name: echoserver
          image: ealen/echo-server
          ports:
            - containerPort: 80
