global:
  tolerations:
    - key: node-role.kubernetes.io/control-plane
      operator: Exists
      effect: NoSchedule
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""

configs:
  params:
    server.insecure: true

dex:
  enabled: false

notifications:
  enabled: false
